# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Bb]uild/
[Bb]uilds/
UserSettings/

# IDE
.vs/
.vscode/

# OS
.DS_Store
Thumbs.db

# Visual Studio / Rider generated
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.unityproj
*.tmp
